* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url("./public/pictures/main.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.meteo-app {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.right-content {
  display: flex;
}

.right-content div {
  padding: 10px;
  color: azure;
  border: 1px solid white;
  max-width: 45px;
}
