* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
}

.temperature {
  font-size: 50px;
  color: white;
}
.location {
  font-size: 35px;
  color: white;
}

/* body {
  min-height: 100vh;
  background-image: url("./public/pictures/main.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

/* 
  flex-direction: column;
  align-items: flex-end;
} */

.right-content {
  display: flex;
  margin-left: 2px;
}

.right-content div {
  /* background: rgba(255, 255, 255, 0.2); */
  padding: 10px;
  color: azure;
  border: none;
  border-bottom: 3px solid;

  border-color: rgba(255, 255, 255, 0.2);
  max-width: 45px;
}
